html {
    height: 100%;
}

body {
    background-color: #F2F8FE;
    margin: 0;
    height: 100%;
}

/*
To prevent collapsing margins
    - removes the top margin
*/
h1 {
    margin: 0;
}

body .center-content {
    display: table;
    position: relative;
    border-collapse: collapse;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    background-color: #FFFFFF;
    float: none;
    height: 100%;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 6px 0px 15px -5px #CCCCCC, -6px 0px 15px -5px #CCCCCC;
}

body .center-content > .header,.menu,.body {
    display: table-row;
    height: 0;
}

/*********
HEADER
*********/
body > div > div.header {
    white-space: nowrap;
    overflow: hidden;
    height: 116px;
}

div.header > span {
    display: block;
    white-space: nowrap;
    height: 106px;
    margin: 0 30px 10px 30px;
}

div.header .powered-by {
	color: #4D94B8;
	font-size: 10px;
	position: absolute;
	right: 0;
	margin-right: 5px;
    z-index: 1000;
}

div.header .powered-by img {
    height: 41px;
    margin-bottom: 9px;
}

div.header .header-logo {
    float: left;
    width: 250px;
    margin-bottom: -30px;
    margin-right: 0;
}

div.header .header-logo img {
    width: 100%;
}

div.header .header-logo.hidden-lg {
    float: none;
    margin: 0 auto;
    padding: 0;
}

div.header .header-search {
    float: right;
    text-align: right;
	padding: 50px 0 0 0;
    margin-left: 0;
}

div.header .header-search.hidden-lg {
    float: none;
    text-align: center;
    padding: 0;
    height: auto;
}

div.header .header-search .search-bar {
    width: 40%;
    display: inline-block;
	vertical-align: middle;
}

div.header .header-search .contact {
    display: inline-block;
    padding: 0;
	vertical-align: middle;
}


div.header .header-search a {
    color: #4D94B8;
}

div.header .header-search a:hover {
    color: #4D94B8;
}

div.header .header-search button {
	color: #4D94B8;
}

div.header .header-search button:hover {
	color: #4D94B8;
}


/*********
MENU
*********/
div.menu .hidden-menu {
    display: none;
}

div.menu {
    margin-top: 10px;
    background-color: #B2D1E0;
    text-align: center;
    color: #FFFFFF;
    border-bottom: 8px solid #4D94B8;
}

div.menu span {
    display: inline-block;
    height: 45px;
    width: 140px;
    line-height: 45px;
    font-size: 20px;
}

div.menu span:not(.selected):hover{
    background-color: #4D94B8;
    font-weight: bold;
    cursor: pointer;
    cursor: hand;
}

div.menu span.selected {
    background-color: #4D94B8;
    font-weight: bold;
}

div.menu span a {
    color: #FFFFFF;
}

div.menu span a:hover {
    color: #FFFFFF;
    text-decoration: none;
}

div.menu.hidden-lg {
    height: 45px;
    width: 140px;
    line-height: 45px;
    font-size: 20px;
    border-bottom: 0px solid #4D94B8;
}

div.menu .menu-button {
    font-size: 24px;
}

div.menu .menu-button.menu-open {
    cursor: pointer;
    cursor: hand;
    background-color: #4D94B8;
}

div.menu .menu-button:hover {
    cursor: pointer;
    cursor: hand;
    background-color: #4D94B8;
}

div.menu .menu-item:not(.selected):hover {
    background-color: #71A9C6;
    font-weight: bold;
    cursor: pointer;
    cursor: hand;
}

div.menu .menu-item.selected {
    background-color: #71A9C6;
    font-weight: bold;
}

div.menu .menu-item a {
    color: #FFFFFF;
    display: block;
    height: 100%;
}

div.menu .menu-item:hover {
    color: #FFFFFF;
    text-decoration: none;
}



/*********
BODY
*********/
div.body .image-spread {
    background: url(../img/home-nw.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 390px;
    background-size: cover;
}

div.body .body-content {
    margin: 30px 5%;
}

div.body .body-content h1 {
    color: #45CB4F;
    margin-bottom: 20px;
    text-align: center;
}

div.body .body-content p {
    color: #45CB4F;
    font-size: 18px;
    color: #808080;
}

div.body .body-content .center-para{
    text-align: center;
    margin-bottom: 40px;
}

div.body .body-content h2 {
    color: #4D94B8;
}

/*
Body - About
*/
.about div.body .image-spread {
    background: url(../img/about.jpg);
}

/*
Body - Insurance Plans
*/
.insurance div.body .image-spread {
    background: url(../img/boat.jpg);
    background-position: 50% 50%;
    background-size: cover;
}

.insurance div.body .body-content .col-container{
    margin-bottom: 20px;
    overflow: hidden;
}

.insurance div.body .body-content .center-para{
    margin-bottom: 20px;
}

.insurance div.body .body-content .insurance > div {
    border-radius: 25px;
    border: 2px solid #45CB4F;
    padding: 20px;
    margin: 20px 10px 0 10px;
    text-align: center;
    overflow: hidden;
}

.insurance div.body .body-content .insurance .benefit-list p {
    font-size: 14px;
}

.insurance div.body .body-content .insurance hr {
    border-color: #DAF5DC;
}

.insurance div.body .body-content .insurance span {
    color: #45CB4F;
}

.insurance div.body .body-content .insurance .sub-para {
    font-size: 12px;
    margin-top: -10px;
}

.insurance div.body .body-content .insurance .insurance-desc {
    text-align: left;
    font-size: 14px;
}

/*
Body - Modal for reviews
*/
.reviews div.body .image-spread {
    background: url(../img/sky.jpg);
    background-position: 50% 50%;
    background-size: cover;
}

.reviews div.body .body-content .review-box {
    margin-bottom: 20px;
}

.reviews div.body .body-content .review-box > div {
    border-radius: 25px;
    border: 2px solid #4D94B8;
    padding: 20px;
    overflow: hidden;
}

.reviews div.body .body-content .review-box .form-group {
    margin-bottom: 5px;
}

.reviews div.body .body-content .review-box .form-group:nth-child(even) > div {
    background-color: #F0F6F9;
}


.reviews div.body .body-content .review-box .control-label {
    padding-top: 0;
    font-weight: bold;
}

.reviews div.body .body-content .review-box span {
    color: #45CB4F;
}

div.modal textarea {
    max-width: 100%;
    min-width: 100%;
}

div.modal .radio-inline {
    margin-top: -10px;
}

#create-review-modal.change-z {
    z-index: 1000;
}

/*
Body - Contact page
*/
.contact div.body .image-spread {
    background: url(../img/contact.jpg);
    background-position: 50% 50%;
    background-size: cover;
}

.contact div.body .body-content .col-container{
    margin-bottom: 20px;
    overflow: hidden;
}

.contact div.body .body-content .address{
    margin-bottom: 40px;
    text-align: center;
}

.contact div.body .body-content .address div{
    display: inline-block;
    text-align: left;
}

.contact div.body .body-content .address div p{
    color: #333;
}

/*********
FOOTER
*********/
div.footer {
    display: table-row;
    background-color: #B2D1E0;
    text-align: center;
	color: #FFFFFF;
}

div.footer .links {
	margin: 20px 0;
}

div.footer .links a {
	color: #FFFFFF;
}

div.footer .links a:hover {
	font-weight: bold;
	color: #4D94B8;
}

div.footer img {
	height: 65px;
    margin-bottom: 15px;
}

div.footer .powered-by {
	color: #4D94B8;
    font-weight: bold;
    margin: 0;
}

div.footer  .copyright {
	font-size: 10px;
	color: #4D94B8;
}

/*
body div.center-content.not-found .body-content p {
    margin: 0 0 50% 0;
}*/