{% extends "master.html" %}

{% block contentClass %}not-found{% endblock %}

{% block menu %}
<span><a href="{{ url_for('index') }}">Home</a></span><!--
-->|<!--
--><span><a href="{{ url_for('about') }}">About</a></span><!--
-->|<!--
--><span><a href="{{ url_for('insurance') }}">Insurance</a></span><!--
-->|<!--
--><span><a href="{{ url_for('reviews') }}">Reviews</a></span>
{% endblock %}

{% block body %}
<h1>404 Page not found</h1>
<p>Oops! Nothing exists here.</p>
{% endblock %}