{% extends "master.html" %}

{% block contentClass %}about{% endblock %}

{% block menu %}
<span><a href="{{ url_for('index') }}">Home</a></span><!--
-->|<!--
--><span class="selected"><a href="{{ url_for('about') }}">About</a></span><!--
-->|<!--
--><span><a href="{{ url_for('insurance') }}">Insurance</a></span><!--
-->|<!--
--><span><a href="{{ url_for('reviews') }}">Reviews</a></span>
{% endblock %}

{% block menuSmall %}
<div class="menu-button">MENU</div>
<div class="hidden-menu menu-container">
  <div class="col-sm-6 col-xs-12 menu-item">
    <a href="{{ url_for('index') }}">Home</a>
  </div>
  <div class="selected col-sm-6 col-xs-12 menu-item">
    <a href="{{ url_for('about') }}">About</a>
  </div>
  <div class="col-sm-6 col-xs-12 menu-item">
    <a href="{{ url_for('insurance') }}">Insurance</a>
  </div>
  <div class="col-sm-6 col-xs-12 menu-item">
    <a href="{{ url_for('reviews') }}">Reviews</a>
  </div>
</div>
{% endblock %}

{% block imageSpread %}
<div class="image-spread">
</div>
{% endblock %}

{% block body %}
<h1>About</h1>
<p>Fusce aliquet pede non pede. Suspendisse dapibus lorem pellentesque magna. Integer nulla. Donec blandit feugiat ligula. Donec hendrerit, felis et imperdiet euismod, purus ipsum pretium metus, in lacinia nulla nisl eget sapien.</p>

<h2>Proin Pharetra</h2>
<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Maecenas porttitor congue massa. Fusce posuere, magna sed pulvinar ultricies, purus lectus malesuada libero, sit amet commodo magna eros quis urna. Nunc viverra imperdiet enim. Fusce est. Vivamus a tellus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin pharetra nonummy pede.</p>
<p>Mauris et orci. Aenean nec lorem. In porttitor. Donec laoreet nonummy augue. Suspendisse dui purus, scelerisque at, vulputate vitae, pretium mattis, nunc. Mauris eget neque at sem venenatis eleifend. Ut nonummy. Fusce aliquet pede non pede.</p>

<h2>Quisque Aliquam Tempor Magna</h2>
<p>Suspendisse dapibus lorem pellentesque magna. Integer nulla. Donec blandit feugiat ligula. Donec hendrerit, felis et imperdiet euismod, purus ipsum pretium metus, in lacinia nulla nisl eget sapien. Donec ut est in lectus consequat consequat. Etiam eget dui. Aliquam erat volutpat. Sed at lorem in nunc porta tristique.</p>
<p>Proin nec augue. Quisque aliquam tempor magna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc ac magna. Maecenas odio dolor, vulputate vel, auctor ac, accumsan id, felis. Pellentesque cursus sagittis felis. Pellentesque porttitor, velit lacinia egestas auctor, diam eros tempus arcu, nec vulputate augue magna vel risus. Cras non magna vel ante adipiscing rhoncus.</p>

{% endblock %}