{% extends "master.html" %}

{% block contentClass %}contact{% endblock %}

{% block menu %}
<span><a href="{{ url_for('index') }}">Home</a></span><!--
-->|<!--
--><span><a href="{{ url_for('about') }}">About</a></span><!--
-->|<!--
--><span><a href="{{ url_for('insurance') }}">Insurance</a></span><!--
-->|<!--
--><span><a href="{{ url_for('reviews') }}">Reviews</a></span>
{% endblock %}

{% block imageSpread %}
<div class="image-spread">
</div>
{% endblock %}

{% block body %}
<h1>Contact</h1>
<p class="center-para">
    Got a question?<br />
    Feel free to send us some mail or give us a call!
</p>
<div class="col-container">
    <div class="col-md-4 col-sx-12 address">
        <div>
            <p>Be Healthy<br />
            83 Wholesome Avenue<br />
            Fine Fettle, NSW, 8383</p>
            <p>Phone: 09 xxxx xxxx<br />
            Fax:09 xxxx xxxx</p>
        </div>
    </div>
    <div class="col-md-8 col-sx-12 form">
        <form class="form-horizontal">
          <div class="form-group">
            <label for="contact-name" class="col-sm-2 control-label">Name</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="contact-name" placeholder="Name" required>
            </div>
          </div>
          <div class="form-group">
            <label for="contact-email" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-10">
              <input type="email" class="form-control" id="contact-email" placeholder="Email" required>
            </div>
          </div>
          <div class="form-group">
            <label for="contact-message" class="col-sm-2 control-label">Message</label>
            <div class="col-sm-10">
               <textarea class="form-control" id="contact-message" placeholder="Message" required></textarea>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </form>
    </div>
</div>
{% endblock %}