{% extends "master.html" %}

{% block contentClass %}index{% endblock %}

{% block menu %}
<span class="selected"><a href="{{ url_for('index') }}">Home</a></span><!--
-->|<!--
--><span><a href="{{ url_for('about') }}">About</a></span><!--
-->|<!--
--><span><a href="{{ url_for('insurance') }}">Insurance</a></span><!--
-->|<!--
--><span><a href="{{ url_for('reviews') }}">Reviews</a></span>
{% endblock %}

{% block menuSmall %}
<div class="menu-button">MENU</div>
<div class="hidden-menu menu-container">
  <div class="selected col-sm-6 col-xs-12 menu-item">
    <a href="{{ url_for('index') }}">Home</a>
  </div>
  <div class="col-sm-6 col-xs-12 menu-item">
    <a href="{{ url_for('about') }}">About</a>
  </div>
  <div class="col-sm-6 col-xs-12 menu-item">
    <a href="{{ url_for('insurance') }}">Insurance</a>
  </div>
  <div class="col-sm-6 col-xs-12 menu-item">
    <a href="{{ url_for('reviews') }}">Reviews</a>
  </div>
</div>
{% endblock %}

{% block imageSpread %}
<div class="image-spread">
</div>
{% endblock %}

{% block body %}
<h1>Be Happy. Be Balanced. Be Healthy.</h1>
<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Maecenas porttitor congue massa. Fusce posuere, magna sed pulvinar ultricies, purus lectus malesuada libero, sit amet commodo magna eros quis urna.</p>
<p>Nunc viverra imperdiet enim. Fusce est. Vivamus a tellus.</p>
<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin pharetra nonummy pede. Mauris et orci.</p>
{% endblock %}