{% extends "master.html" %}

{% block contentClass %}insurance{% endblock %}

{% block menu %}
<span><a href="{{ url_for('index') }}">Home</a></span><!--
-->|<!--
--><span><a href="{{ url_for('about') }}">About</a></span><!--
-->|<!--
--><span class="selected"><a href="{{ url_for('insurance') }}">Insurance</a></span><!--
-->|<!--
--><span><a href="{{ url_for('reviews') }}">Reviews</a></span>
{% endblock %}

{% block menuSmall %}
<div class="menu-button">MENU</div>
<div class="hidden-menu menu-container">
  <div class="col-sm-6 col-xs-12 menu-item">
    <a href="{{ url_for('index') }}">Home</a>
  </div>
  <div class="col-sm-6 col-xs-12 menu-item">
    <a href="{{ url_for('about') }}">About</a>
  </div>
  <div class="selected col-sm-6 col-xs-12 menu-item">
    <a href="{{ url_for('insurance') }}">Insurance</a>
  </div>
  <div class="col-sm-6 col-xs-12 menu-item">
    <a href="{{ url_for('reviews') }}">Reviews</a>
  </div>
</div>
{% endblock %}

{% block imageSpread %}
<div class="image-spread">
</div>
{% endblock %}

{% block body %}
<h1>Insurance Plans</h1>
<p class="center-para">
We offer two insurance plans to suit your needs!
</p>
<div class="col-container">
    <div class="col-md-6 col-sx-12 insurance single">
        <div>
            <h2>Singles and Couples</h2>
            <hr>
            <h3>$10.50</h3>
            <p class="sub-para">per week</p>
            <hr>
            <p class="insurance-desc">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Maecenas porttitor congue massa.</p>
            <hr>
            <div class="col-md-12 col-lg-6 benefit-list">
                <p><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Ambulance</p>
                <p><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Accidents</p>
                <p><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Dental</p>
                <p><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Optical</p>
            </div>
            <div class="col-md-12 col-lg-6 benefit-list">
                <p><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Chiro</p>
                <p><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Physio</p>
                <p><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Massage</p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sx-12 insurance multi">
        <div>
            <h2>Family Package</h2>
            <hr>
            <h3>$20.00</h3>
            <p class="sub-para">per week</p>
            <hr>
            <p class="insurance-desc">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin pharetra nonummy pede. Mauris et orci.</p>
            <hr>
            <div class="col-md-12 col-lg-6 benefit-list">
                <p><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Ambulance</p>
                <p><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Accidents</p>
                <p><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Dental</p>
                <p><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Optical</p>
                <p><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Ortho</p>
            </div>
            <div class="col-md-12 col-lg-6 benefit-list">
                <p><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Chiro</p>
                <p><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Physio</p>
                <p><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Major Dental</p>
                <p><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Heart</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block jsFiles %}
<script src="{{ url_for('static', filename='js/planBox.js') }}"></script>
{% endblock %}