<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>BeHealthy</title>

    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom -->
     <link href="{{ url_for('static', filename='css/behealthy-custom.css') }}" rel="stylesheet">
     <link href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon" rel="shortcut icon">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="center-content col-lg-10 col-md-10 col-sm-12 col-xs-12 {% block contentClass %}{% endblock %}">
      <div class="header">
        <p class="powered-by">Powered by <strong>Cloud Practice</strong></p>

        <span class="header-logo hidden-xs">
          <img src="{{ url_for('static', filename='img/Logo-s.png') }}"></img>
        </span>

        <span class="header-logo hidden-lg hidden-md hidden-sm col-xs-12">
          <img src="{{ url_for('static', filename='img/Logo-s.png') }}"></img>
        </span>

        <span class="header-search col-sm-5 hidden-xs">
          <div class="contact">
            <a href="{{ url_for('contact') }}" class="btn btn-default btn-lg">
                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span> Contact
            </a>
          </div>
          <div class="search-bar">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></button>
              </span>
            </div><!-- /input-group -->
          </div>
        </span>

        <span class="header-search hidden-lg hidden-md hidden-sm col-xs-12">
          <div class="contact">
            <a href="{{ url_for('contact') }}" class="btn btn-default btn-lg">
                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span> Contact
            </a>
          </div>
          <div class="search-bar">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></button>
              </span>
            </div><!-- /input-group -->
          </div>
        </span>
      </div>

      <!-- <div class="menu hidden-xs"> -->
      <div class="menu hidden-xs">
        {% block menu %}{% endblock %}
      </div>
      <div class="menu hidden-lg hidden-md hidden-sm">
        {% block menuSmall %}{% endblock %}
      </div>
      <div class="body">
        {% block imageSpread %}{% endblock %}
        <div class="body-content">
          {% block body %}{% endblock %}
        </div>
      </div>
      <div class="footer">
        <p class="links"><a href="{{ url_for('index') }}">Home</a> | <a href="{{ url_for('about') }}">About</a> | <a href="{{ url_for('insurance') }}">Insurance</a> | <a href="{{ url_for('reviews') }}">Reviews</a> | <a href="{{ url_for('contact') }}">Contact</a></p>
        <p class="powered-by">Powered by <strong>Cloud Practice</strong></p>
        <p class="copyright">Copyright © 2015 Be Healthy and Cloud Practice</p>
      </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/menu.js') }}"></script>

    {% block jsFiles %}{% endblock %}
  </body>

</html>