{% extends "master.html" %}

{% block contentClass %}reviews{% endblock %}

{% block menu %}
<span><a href="{{ url_for('index') }}">Home</a></span><!--
-->|<!--
--><span><a href="{{ url_for('about') }}">About</a></span><!--
-->|<!--
--><span><a href="{{ url_for('insurance') }}">Insurance</a></span><!--
-->|<!--
--><span class="selected"><a href="{{ url_for('reviews') }}">Reviews</a></span>
{% endblock %}

{% block menuSmall %}
<div class="menu-button">MENU</div>
<div class="hidden-menu menu-container">
  <div class="col-sm-6 col-xs-12 menu-item">
    <a href="{{ url_for('index') }}">Home</a>
  </div>
  <div class="col-sm-6 col-xs-12 menu-item">
    <a href="{{ url_for('about') }}">About</a>
  </div>
  <div class="col-sm-6 col-xs-12 menu-item">
    <a href="{{ url_for('insurance') }}">Insurance</a>
  </div>
  <div class="selected col-sm-6 col-xs-12 menu-item">
    <a href="{{ url_for('reviews') }}">Reviews</a>
  </div>
</div>
{% endblock %}

{% block imageSpread %}
<div class="image-spread">
</div>
{% endblock %}

{% block body %}
<h1>Reviews</h1>
<p class="center-para">
  <button type="button" class="btn btn-info btn-lg create-review">Write a review</button>
<p>
{% for review in reviews %}
    {% if loop.index is odd %}
    <div class="col-lg-12 col-md-12">
    {% endif %}
      <div class="review-box col-md-6 col-sm-12">
        <div class="form-horizontal">
          <div class="form-group">
            <div class="col-sm-3 control-label">Reviewer</div>
            <div class="col-sm-9">{{ review[2] }}</div>
          </div>
          <div class="form-group">
            <div class="col-sm-3 control-label">Date</div>
            <div class="col-sm-9">{{ review[1] }}</div>
          </div>
          <div class="form-group">
            <div class="col-sm-3 control-label">Product</div>
            <div class="col-sm-9">{{ review[3] }}</div>
          </div>
          <div class="form-group">
            <div class="col-sm-3 control-label">Rating</div>
            <div class="col-sm-9">
              {% for n in range(0,review[4]) %}
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              {% endfor %}
              {% for n in range(0,(5-review[4])) %}
              <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
              {% endfor %}
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-3 control-label">Comments</div>
            <div class="col-sm-9">{{ review[5] }}</div>
          </div>
        </div>
      </div>
    {% if loop.index is even %}
    </div>
    {% elif loop.index is odd and loop.last %}
    </div>
    {% endif %}
{% endfor %}
</p>

<!-- Modal to write a review-->
    <div class="modal fade" id="create-review-modal" tabindex="-1" role="dialog" aria-labelledby="newDeviceModal" aria-hidden="true">
      <div class="modal-dialog">
        <form class="modal-content new-review">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Write a Review</h4>
          </div>
          <div class="modal-body">
            <div class="form-horizontal">

              <!-- Reviewer name -->
              <div class="form-group">
                <label for="reviewer" class="col-sm-3 control-label">Name:</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="reviewer" placeholder="Your name" required>
                </div>
              </div>

              <!-- Product List -->
              <div class="form-group">
                <label class="col-sm-3 control-label">Review for:</label>
                <div class="col-sm-8">
                  <div class="input-group col-sm-12">
                    <div class="entry input-group col-sm-12">
                      <select class="form-control" id="product" required>
                        <option value="General">General</option>
                        <option value="Singles Insurance">Singles Insurance</option>
                        <option value="Family Insurance">Family Insurance</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Rating -->
              <div class="form-group">
                <label for="rating" class="col-sm-3 control-label">Rating:</label>
                <div class="col-sm-8">
                  <div class="radio">
                    <label class="radio-inline">
                      <input type="radio" name="ratings" value="1" required> 1
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="ratings" value="2" required> 2
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="ratings" value="3" required> 3
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="ratings" value="4" required> 4
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="ratings" value="5" required> 5
                    </label>
                    </label>
                  </div>
                </div>
              </div>

              <!-- Review -->
              <div class="form-group">
                <label for="review" class="col-sm-3 control-label">Comments:</label>
                <div class="col-sm-8">
                  <textarea class="form-control" id="comments" placeholder="comments" required></textarea>
                </div>
              </div>

            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary save-new-review">Save</button>
          </div>
        </form>
      </div>
    </div>

    <!-- Modal to show when a device has been successful created -->
    <div id="modal-success" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="NewReviewModalSuccess" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-body"></div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success" data-dismiss="modal">Ok</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal to show when an error occurs -->
    <div id="modal-error" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="NewReviewModalError" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-body"></div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger close-modal" data-dismiss="modal">Ok</button>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block jsFiles %}
<script src="{{ url_for('static', filename='js/modal.js') }}"></script>
{% endblock %}